.features-small {
  @extend %container;

  padding-left: $layout-gutter-width;
  padding-right: $layout-gutter-width;
  text-align: center;

  @media screen and (min-width: $size-small) {
    padding-left: 0;
    padding-right: 0;
  }
}

.features-small__list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 7.5rem;

  @media screen and (min-width: $size-small) {
    padding-bottom: 10.5rem;
  }
}

.features-small__item {
  margin-bottom: 3rem;

  @media screen and (min-width: $size-small) {
    flex: 0 0 33.333333%;
    margin-bottom: 6rem;
    padding: 0 $gutter-width/2;
  }
}

.features-small__image {
  @extend %image-container;

  border-radius: 6px;
  margin-bottom: 2.4rem;
}

.features-small__heading {
  margin-bottom: 0.6rem;
}

.features-small__description {
  @extend %container;
  width: span(10);
  font-size: 1.3rem;
  color: $grey-darker;

  @media screen and (min-width: $size-small) {
    font-size: 1.4rem;
    line-height: 1.85;
  }
}
