.page-description {
  width: span(8);
  margin-left: span(2);
  padding: 5.2rem $gutter-width;
  text-align: center;
}

.page-description__heading {
  @extend %h1;

  margin-bottom: 2.6rem;
}

.page-description__summary {
  color: $grey-mid;
}
