.site-footer {
  color: $grey-light;
  background-color: $black;
  padding: 7rem 0 8rem;
}

.site-footer__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $container-width;
}
