.site-header {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: auto;
  padding: $layout-gutter-width;
  max-width: $container-width;

  @media screen and (min-width: $size-small) {
    flex-flow: row wrap;
    padding: 2.6rem 0;
  }
}

.site-header__logo {
  max-height: 5.6rem;
}
