.site-nav {
  display: none;
  padding: $gutter-width;
  border-bottom: 1px solid $grey-border;

  &[open] {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
    transform: translate(0, 100%);
  }

  @media screen and (min-width: $size-small) {
    position: relative;
    display: block;
    align-self: center;
    border: none;
  }
}

.site-nav__list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  @media screen and (max-width: $size-small) {
    flex-flow: column wrap;
    align-items: stretch;
  }
}

.site-nav__item {
  @media screen and (min-width: $size-small) {
    margin-left: 2rem;

    &:first-child {
      margin-left: 0;
    }
  }
}

.site-nav__item--contact {
  margin-top: 1.4rem;
  margin-left: 0;

  @media screen and (min-width: $size-small) {
    margin-top: 0;
    margin-left: 2.6rem;
  }
}

.site-nav__link,
.site-nav__link:visited {
  color: $grey-darker;
}

.site-nav__link {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .5px;
  text-transform: uppercase;

  &:hover {
    color: $black;
  }
}
