.site-header {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  position: relative;
  margin: auto;
  padding: $layout-gutter-width;
  max-width: $container-width;

  @media screen and (min-width: $size-small) {
    flex-flow: row wrap;
    padding: 2.6rem 0;
  }
}

.site-header__toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-header__logo {
  height: 5.1rem;

  @media screen and (min-width: $size-small) {
    height: 5.6rem;
  }
}

