.social-links {
  margin: 7rem 0;
  max-width: $container-width;
  color: $grey-mid;

  .icon {
    color: $white;
  }
}

.social-links__heading {
  margin-bottom: 2.5rem;
}

.social-links__list {
  display: flex;
  flex-direction: row;
}

.social-links__item {
  &:not(:last-child) {
    margin-right: 2rem;
  }
}

.social-links__link {
  color: $grey-lighter;

  &:hover {
    color: $white;
  }

  .icon {
    color: inherit;
    font-size: 1.8rem;
  }
}
