// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700);

// Font variables
$open-sans: 'Open Sans', sans-serif;

// Colours
$color-primary: #252525;
$background-primary: #FFF;

$font-family: $open-sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
