// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Font variables
$poppins: 'Poppins', sans-serif;
$font-family: $poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-size-base: 1rem !default;

// Colours
$black: #252525;
$white: #FFF;
$grey-lighter: #B2B2B2;
$grey-light: rgba($white, .5);
$grey-mid: #808080;
$grey-darker: #666;

$grey-border: #EBEBEB;

$blue: #4A90E2;
$blue-light: #3498DB;
$bg-secondary: #FAFAFA;

// Layout
$total-column: 12;
$gutter-width: 20px;
$container-width: 1180px;
$min-width: 320px;
$size-small: 640px;

$layout-gutter-width: 13px;
