executors:
  node:
    parameters:
      image:
        type: string
        default: "12"
    docker:
      - image: circleci/node:<< parameters.image >>
        environment:
          TERM: xterm
    working_directory: ~/gatsby-site

aliases:
  restore_cache: &restore_cache
    restore_cache:
      name: Restore NPM Package Cache
      keys:
        # Find a cache corresponding to this specific package-lock.json
        - dependencies-{{ checksum "package-lock.json" }}
        # Fallback cache to be used
        - dependencies-

  install_node_modules: &install_node_modules
    run:
      name: Install NPM Packages
      command: npm install --frozen-lockfile

  save_cache: &save_cache
    save_cache:
      name: Save NPM Package Cache
      key: dependencies-{{ checksum "package-lock.json" }}
      paths:
        - node_modules

version: 2.1

jobs:
  install:
    executor: node
    steps:
      - checkout
      - <<: *restore_cache
      - <<: *install_node_modules
      - <<: *save_cache

  lint:
    executor: node
    steps:
      - checkout
      - <<: *restore_cache
      - run:
          name: Run ESLint
          command: npm run eslint:check
  deploy_gh:
    executor: node
    steps:
      - checkout
      - <<: *restore_cache
      - run: git config user.email "piotr.lewandowski@radically.digital"
      - run: git config user.name "CircleCI"
      - run: npm run deploy

workflows:
  version: 2.1
  test:
    jobs:
      - install:
          filters:
            branches:
              ignore:
                - gh-pages
                - master
      - lint:
          requires:
            - install

  deploy:
    jobs:
      - install:
          filters:
            branches:
              only:
                - master
      - lint:
          requires:
            - install
      - deploy-gh:
          requires:
            - lint
            - install
