version: 2.1

executors:
  node:
    parameters:
      image:
        type: string
        default: "12"
    docker:
      - image: circleci/node:<< parameters.image >>

aliases:
  restore_cache: &restore_cache
    restore_cache:
      name: Restore NPM Package Cache
      keys:
        # Find a cache corresponding to this specific package-lock.json
        - dependencies-{{ .Environment.CIRCLE_CI_CACHE_VERSION }}{{ checksum "package-lock.json" }}
        # Fallback cache to be used
        - dependencies-{{ .Environment.CIRCLE_CI_CACHE_VERSION }}

  install_node_modules: &install_node_modules
    run:
      name: Install NPM Packages
      command: npm install --frozen-lockfile

  save_cache: &save_cache
    save_cache:
      name: Save NPM Package Cache
      key: dependencies-{{ .Environment.CIRCLE_CI_CACHE_VERSION }}{{ checksum "package-lock.json" }}
      paths:
        - node_modules

jobs:
  install:
    executor: node
    steps:
      - checkout
      - <<: *restore_cache
      - <<: *install_node_modules
      - <<: *save_cache

  lint:
    executor: node
    steps:
      - checkout
      - <<: *restore_cache
      - run:
          name: Run ESLint
          command: npm run eslint:check
  deploy-dev:
    executor: node
    steps:
      - checkout
      - <<: *restore_cache
      - run: npm run build
      - run: |
          echo "User-agent: * Disallow: /" > public/robots.txt
      - run: npm run build
      - run: $(npm bin)/surge public dev.radically.digital
      - run:
          name: Notify the team
          when: on_success
          command: . scripts/slack-notify.sh DEPLOY_PASS "#project-rad-website-devs"
      - run:
          name: Notify the team
          when: on_fail
          command: . scripts/slack-notify.sh DEPLOY_FAIL "#project-rad-website-devs"

  deploy-prod:
    executor: node
    steps:
      - checkout
      - <<: *restore_cache
      - run: git config user.email "circle.ci@not-a-git.user"
      - run: git config user.name "CircleCI"
      - run: npm run deploy
      - run:
          name: Notify the team
          when: on_success
          command: . scripts/slack-notify.sh DEPLOY_PASS
      - run:
          name: Notify the team
          when: on_fail
          command: . scripts/slack-notify.sh DEPLOY_FAIL

workflows:
  test:
    jobs:
      - install:
          filters:
            branches:
              ignore:
                - gh-pages
                - master
                - develop
      - lint:
          requires:
            - install

  build-dev:
    jobs:
      - install:
          filters:
            branches:
              only:
                - develop
      - lint:
          requires:
            - install
      - deploy-dev:
          requires:
            - lint

  build-prod:
    jobs:
      - install:
          filters:
            branches:
              only:
                - master
      - lint:
          requires:
            - install
      - deploy-prod:
          requires:
            - lint
