%h1 {
  font-size: 4.4rem;
  font-weight: 300;
  line-height: 1.3;
}

%h2 {
  font-size: 3.3rem;
  font-weight: 200;
}

%h3 {
  font-size: 2.5rem;
}

%h4 {
  font-size: 1.9rem;
}

%h5 {
  font-size: 1.6rem;
}

%h6 {
  font-size: 1.2rem;
}
